/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------MY CSS---------------*/
h1 {
	font-size: 3em;
	font-family: 'Montserrat', sans-serif;
 }
h2 {
	font-size: 2em;
	font-family: 'Merriweather Sans', sans-serif;
}
h3 { font-size: 1.17em; }
h4 {
	font-size: 1.12em;
	font-family: 'Merriweather Sans', sans-serif;
}
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.dbl-spaced{
	line-height:30px;
}
.no-padding{
	padding-left: 0;
	padding-right: 0;
}
.no-margin{
	margin-left: 0;
	margin-right: 0;
}
.logo{
  position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%,30%);
	width:10%;
}
.profile{
	position: relative;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%,4%);
	width:15%;
}
.lang-img{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:50%;
}
.landing-pg{
	background-color: gray;
	/*opacity: 1;*/
	z-index: 1;
}
.spacer75{
	width:100vw;
	height:75px;
}
.spacer100{
	width:100vw;
	height:100px;
}
.splash-img{
	width: 100vw;
	height: 100vh;
	opacity:0.7;
	filter: blur(2px);
	z-index: 1;
}
.welcome-txt{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align:center;
	z-index: 1;
	color:white;
	font-weight: bolder;
}
.typed-txt{
	font-size: 2em;
	font-weight: normal;
	font-family: 'Merriweather Sans', sans-serif;
}
.typed-cursor{
	font-size: 2em;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.click-to-scroll{
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%,-50%);
	color: white;
	font-weight: 600;
	text-decoration: none;
	font-size: 20px;
}
.click-to-scroll:hover{
	text-decoration: none;
	color:white;
}
#clickToScroll{
	position: relative;
	opacity:0;
	transition: all cubic-bezier(0.7, 0.46, 0.4, 1.38) 1s;
}
.container-fluid{
	height:101vh;
	width: 100vw;
}
#about-txt{
	position: relative;
	height: 700px;
	width: 100vw;
	text-align: center;
	margin-top: 30px;
}
.up{
	z-index: 1;
	position: fixed;
	right:15px;
	top:18%;
}
.down{
	z-index: 1;
	position: fixed;
	right:15px;
	top:25%;
}
.tabbed-txt{
	text-indent: 30px;
}
.txt-justified{
	text-align: justify;
	padding: 0 40px;
}
.txt-centered{
	text-align: center;
}
.link-basic,.link-basic:hover,.link-basic:visited{
	color:#188ADA;
	text-decoration: none;
}
