@media only screen and (min-width: 992px) {
  #page2{
  	height:1000px;
  	position: relative;
  }
  #page3{
  	height:800px;
  	position: relative;
  }
  #page4{
  	height: 2950px;
  }
}

@media only screen and (max-width: 768px) {
  body{
    overflow-x: hidden;

  }
  .click-to-scroll{
    transform: translate(-50%,-100%);
  }
  #page2{
  	height:1760px;
  	position: relative;
  }
  #page3{
  	height:900px;
  	position: relative;
  }
  #page4{
    height:4890px;
  }
  #page4 .spacer75{
    display: none;
  }
  .lang-img{
    width:100%
  }
  .logo{
    width:20%;
  }
  .profile{
    width: 40%
  }
  .img-sites{
    width: 90%;
  }
} /*This was for phones.
