@media only screen and (min-width: 992px) {
  #page2{
  	height:1000px;
  	position: relative;
  }
  #page3{
  	height:1100px;
  	position: relative;
  }
}

@media only screen and (max-width: 768px) {
  .click-to-scroll{
    transform: translate(-50%,-90%);
  }
  #page2{
  	height:1900px;
  	position: relative;
  }
  #page3{
  	height:2300px;
  	position: relative;
  }
  #page4 .spacer75{
    display: none;
  }
  .logo{
    width:20%;
  }
  .profile{
    width: 25%
  }
} /*This was for phones.
